@media screen and (max-width: 1064px) {
    .one {
        display: none !important;
    }
 
}


.cardDiv{
 
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
}

.slidecontainer{
    width : 100%;
}

#myRange
{
    width: 100% !important;
}
